# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
node_modules
_back
artifacts

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/connect.lock
/coverage
npm-debug.log
/typings

# System Files
.DS_Store
.nyc_output
Thumbs.db
report-err.log
report-out.log
pm2-error*
pm2-output*

test.js

node_modules
dist
.env

service-worker-key.json